</main>
	<!-- 풋터랩퍼 -->
	<div id="footer-wrapper" class="container-fluid bg-dark"><!-- fixed-bottom 클래스를 주면 페이징이 가린다. -->
		<!-- 풋터 -->
		<footer id="footer" class="container-fluid py-3 w-75">
			<!-- 카피라이트 -->
			<div class="container-fluid">
				<p class="mb-0 text-center text-white fw-bold">Galphi Remake Project - Summer Theme</p>
				<p class="mt-0 text-center text-white small">Copyright &copy; Developer: Kim Hyundam</p>
			</div>
			<!-- 만든이 / 연락처 -->
		</footer>
	</div>
</div>
</body>
</html>