{{>./layout/header}}
{{>./layout/header2}}
{{>./layout/main/main1_reco}}
{{>./layout/main/main2_best}}
{{>./layout/main/main3_pd}}
{{>./layout/main/main4_gen}}
{{>./layout/main/main5_new}}
{{>./layout/footer}}